@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
background-color: rgb(255, 106, 176);
}
.all-box{
  width: 360px;
  height: 800px;
  border-radius: 20px;
  margin: auto;
  background-color: hwb(0 100% 0%);
  padding: 20px;
}
button{
    background: transparent;
  border: none
}
.menu{
  margin-top: 30px;
}
h1 {
  color: rgb(0, 0, 0);
  width: 87px;
  height: 39px;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0%;
  margin-top: 30px;
}
.search-section{
  margin-top: 10px;
  width: 316px;
  height: 44px;
  border-radius: 12px;
  border-color: hwb(0 100% 0%);
}
h3{
  font-weight: 100;
  margin-top: 50px;
}
input {
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  background: rgb(239, 239, 239);
  margin-top: 40px;
}
.food-row{
  display: flex;
  padding: 20px 0;
  column-gap: 24px;
}
.food-item:nth-child(1){
  padding: 20px;
    justify-content: space-between;
}
.food-item:nth-child(2){
  padding: 20px;
    justify-content: space-between;
}
.food-item:nth-child(3){
  padding: 20px;
    justify-content: space-between;
}
.food-item-bg {
  margin: auto;
  border-radius: 12px;
  background: rgb(239, 239, 239);
  padding: 20px;
}
.food-item-bg:hover {
  background: rgb(234, 226, 183);
}
.burger-card{
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: 10px;
box-shadow: 0px 0px 4px 0px rgb(230, 230, 230),0px 4px 4px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgb(255, 255, 255);
margin-bottom: 14px;
}
h4{
  text-align: center;
  color: black;
  margin: 8px 0;
}
.img-block-text{

}
h5{
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  color: rgb(255, 0, 0);
}
.text-info{
  display: inline-block;
}